html,
body,
#root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

main {
  height: calc(100% - 40px);
  padding: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
